.container {
  background-color: #3399cc;
  border: 15px solid #2b81ac;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  display: flex;
}
.header-text {
  margin-right: 4px;
  font-size: 21px;
}
.footer-text {
  font-size: 16px;
}
